:root {
    --primary: #fd4e02;
    --secondary: #1e07a0;
    --purple: #5626CA;
    --white: #f4fafe;
    --whitewhite: white;
    --black: #131313;
}

.blauw {
    color: var(--secondary);
}

.orange {
    color: var(--primary);
}