/* FOOTER */
.footer {
	width: 100%;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
     justify-content: center;
 }

.footer-items {
	width: 30%;
	padding: 10px 20px;
	box-sizing: border-box;
    color: var(--white);
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
    color: var(--white);
}

.footer-items h1 {
    color: var(--white);
}


.border1 {
	height: 3px;
	width: 40px;
	background-color: var(--white);;
	border: 0px;
}

.border1 ul {
	list-style: none;
    color: var(--white);
	font-size: 15px;
    letter-spacing: 0.5px;	
 }

.border1 ul a {
	text-decoration: none;
	outline: none;
    color: var(--white);
	transition: 0.3s;
}

.quicklink {
    color: var(--white);
}

.border1 ul a:hover {
	color: #ff9800;
}

.border1 ul li {
	margin: 10px 0;
	height: 25px;
}

.border1 li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	font-size: 20px;
}

.social-media a {
    text-decoration: none;
    color: var(--white);
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
    color: var(--white);
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
    color: var(--white);
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */