
body {
    font-family: noto-sans, sans-serif;
    background: var(--black);
    padding: 0;
    margin: 0;
}

.width {
    width: 100%;
}

.nav_container .width {
    width: 1250px;
}

main {
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: var(--white);
    min-height: 100px;
}

footer {
    padding: 20px;
    color: #fff;
    background: var(--secondary);
}

form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 900px) {

    nav ul li a {
        display: inline-block;
    }

    .navbar_buttons {
        width: 300px;
    }

}

.sectionLight {
    background: var(--white);
    padding: 120px;
}

.sectionLight h1 {
    font-size: 90px;
    color: var(--primary);
    line-height: 90px;
    font-weight: bold;
}

.sectionLight h2 {
    font-size: 40px;
    line-height: 50px;
}

.sectionLight h3 {
    font-weight: normal;
    font-size: 30px;
    color: var(--primary);
}

.sectionLight p {
    padding-bottom: 20px;
    padding-top: 9px;
}

.sectionDark {
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(30,7,160,1) 0%, rgba(106,68,199,1) 100%);
    color: var(--white);
    padding: 120px;
}

.sectionDark h2 {
    font-size: 40px;
    line-height: 50px;
}

.sectionDark p {
    padding-bottom: 20px;
    padding-top: 9px;
}

.list {
    padding-top: 18px;
}

.list p {
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 9px;
}

.orange {
    color: var(--primary);
}

.purple {
    color: var(--purple);
}

#bold {
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 9px;
}

.btnPurple {
    background-color: var(--purple);
    color: var(--white);
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.btnPurple:hover {
    background: var(--primary);
}

.btnOrange {
    background-color: var(--primary);
    color: var(--white);
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.btnOrange:hover {
    background: var(--purple);
}

.container {
    display: flex;
}

.orangeBox {
    background: rgb(2,0,36);
    background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(247,137,13,1) 0%, rgba(254,78,2,1) 100%); 
    width: 300px;
    height: auto;
    border-radius: 20px;
    padding: 27px;
    margin-left: 200px;
    padding-top: 40px;
}

.orangeBox p {
    text-align: center;
    color: var(--white);
    font-weight: normal;
    font-size: 14px;
}