
body {
    font-family: noto-sans, sans-serif;
    background: var(--black);
    padding: 0;
    margin: 0;
}

.frontpage {
    height: 100vh;
}

.nav_container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
/*     box-shadow: 5px 10px black; */
    border-bottom: 3px rgba(0, 0, 0, 0.116) solid;
    height: 8vh;
}

.navbar_buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

main {
    background: var(--white);
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: var(--white);
    min-height: 100px;
}

footer {
    padding: 20px;
    color: #fff;
    background: var(--secondary);
}

form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 350px;
    }

    nav ul li a {
        display: inline-block;
    }

}